@model  SportApp.Models.Gym
@{
    Layout = null;
}
<html>
<head>

        <title>@Model.GymName</title>
   
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="content-language" content="ru">

    <link href="~/css/bootstrap.css" rel="stylesheet">

    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>

    <div class="baner">
        <div class="container">
            <a href="~/Home/Index">
                <img class="logohead" src="~/images/logo.png" height="80px" width="250px">
            </a>
        </div>
        <div class="container">
            <div class="text-vertical-center">
                <a id="signupbtn" href="~/Account/Register" class="btn btn-dark btn-lg">Зареєструватись</a>
                <a id="loginbtn" href="~/Account/Login" class="btn btn-light btn-lg">Увійти</a>
            </div>
        </div>
    </div>

    <div id="gymmain" class="container">
        <h2 id="gymname">@Model.GymName</h2>
        <h2 id="gymrate">@Model.GymRate/10</h2>


        <div id="gymstars" class="container">
            <div class="stars">
                <form action="">
                    <input class="star star-10" id="star-10" type="radio" name="star" />
                    <label class="star star-10" for="star-10"></label>
                    <input class="star star-9" id="star-9" type="radio" name="star" />
                    <label class="star star-9" for="star-9"></label>
                    <input class="star star-8" id="star-8" type="radio" name="star" />
                    <label class="star star-8" for="star-8"></label>
                    <input class="star star-7" id="star-7" type="radio" name="star" />
                    <label class="star star-7" for="star-7"></label>
                    <input class="star star-6" id="star-6" type="radio" name="star" />
                    <label class="star star-6" for="star-6"></label>
                    <input class="star star-5" id="star-5" type="radio" name="star" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" />
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" />
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" />
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" />
                    <label class="star star-1" for="star-1"></label>
                </form>
            </div>
        </div>

        <img id="manimg" src="~/images/man.png" />

        <div id="gymframe" class="container">

            <div class="text-vertical-center">
                <p><input id="addbtn" value="+Додати до моїх залів"></p>
            </div>

            <div id="gymimage" class="container">
                <img src="@Model.GymImgUrl">
            </div>
          
            <div id="infoframe" class="container">
               

               <div id="info" class="container">
                   <h4><strong>Адреса:</strong></h4><h4>@Model.GymLocation</h4>
                   <h4><strong>Мінмальна ціна:</strong></h4><h4>@Model.MbrshipPrice</h4>
                   <h4><strong>Загальна площа:</strong></h4><h4>@Model.GymArea</h4>
                   <h4><strong>Рік заснування:</strong></h4><h4>@Model.FoundYear</h4>
                   <h4><strong>Сайт заснування:</strong></h4><h4>@Model.Url</h4>
                   <h4><strong>Додаткові послуги:</strong></h4><h4>@Model.Facilities</h4>
                   <h4><strong>Короткий опис:</strong></h4><h4>@Model.Description</h4>
                   @if(!string.IsNullOrEmpty((string)ViewData["Errors"]))
                   {
                        <div class="alert alert-warning">
                            <strong>Comment validation error!</strong> 
                            Text is required. Rate from 1 to 10
                        </div>
                   }
                    
               </div>

                <h4 id="leavecom"><b>Оцініть якість наданих послуг та залиште коментар:</b></h4>
                <div id="comframe" class="container">
                    @foreach (var comment in Model.Comments)
                    {
                        <p>@comment.CommentText</p>
                        <p>@comment.Rate</p>
                        <hr/>
                    }
                    <form asp-action="CreateComment">
                        <input type="hidden" name="GymId" id="GymId" value="@Model.Id">
                        <input type="hidden" name="UserId" id="UserId" value="@ViewData["CurrentUserId"]" class="form-control" />
                        <input type="text" id="Rate" placeholder="1..10" style="color:black" name="Rate" size="40">
                        <p><textarea id="CommentText" name="CommentText" placeholder="Коментар.." style="color:black"></textarea></p>
                        <p><input id="sendbtn" type="submit"></p>
                    </form>
                </div>

            </div>
        </div>

    </div>

    
</body>


</html>